<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>930261461533-cai83r8cmuoqdppa091tvkeqb80ifvol.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.930261461533-cai83r8cmuoqdppa091tvkeqb80ifvol</string>
	<key>API_KEY</key>
	<string>AIzaSyCANGry7eNowZwj1AnqmwTj0j6PKtp-D6s</string>
	<key>GCM_SENDER_ID</key>
	<string>930261461533</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fiu.GroupProject</string>
	<key>PROJECT_ID</key>
	<string>game-auth-groupproj</string>
	<key>STORAGE_BUCKET</key>
	<string>game-auth-groupproj.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:930261461533:ios:e2a31e0a35caf79d3074f4</string>
</dict>
</plist>
